@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout{
  height: 100vh;
}

.bg-air{
  background-image: url('https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80');
  background-size: cover;
  background-position: center;
  background-color: rgb(155, 159, 156);  
  background-blend-mode: lighten;
}

.nav-link:hover{
    border-right: solid thin black;
    border-bottom: solid thin black;
    border-radius: 5%;
}

select, input:not([type='submit']){
    background-color: transparent;
    border-radius: 1%;
    border: solid black;
}

.submit-button{
  align-self: center;
  width: 5rem;
}
footer{
  position: fixed;
  bottom: 0;
}
